@font-face {
  font-family: "flexkit-icons";
  src: url("../fonts/icons/flexkit-icons.eot");
  src: url("../fonts/icons/flexkit-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/flexkit-icons.woff") format("woff"), url("../fonts/icons/flexkit-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon12,
.icon14,
.icon16,
.icon18,
.icon24,
.icon32,
.icon48,
.icon64 {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
}
.icon12 {
  width: 12px !important;
  height: 12px !important;
  line-height: 12px !important;
  font-size: 0 !important;
}
.icon12::before {
  font-size: 12px !important;
}
.icon14 {
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
  font-size: 0 !important;
}
.icon14::before {
  font-size: 14px !important;
}
.icon16 {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: 0 !important;
}
.icon16::before {
  font-size: 16px !important;
}
.icon18 {
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
  font-size: 0 !important;
}
.icon18::before {
  font-size: 18px !important;
}
.icon24 {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  font-size: 0 !important;
}
.icon24::before {
  font-size: 24px !important;
}
.icon32 {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  font-size: 0 !important;
}
.icon32::before {
  font-size: 32px !important;
}
.icon48 {
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  font-size: 0 !important;
}
.icon48::before {
  font-size: 48px !important;
}
.icon64 {
  width: 64px !important;
  height: 64px !important;
  line-height: 64px !important;
  font-size: 0 !important;
}
.icon64::before {
  font-size: 64px !important;
}
[class*="icon-"],
[class^=" icon-"] {
  position: relative;
}
.flexkit-icon,
[class*="icon-"]::before,
[class^=" icon-"]::before,
[data-icon]::before,
ul.list-select > li.active::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]::before {
  content: attr(data-icon);
}
.icon-home::before {
  content: "\e000";
}
.icon-home2::before {
  content: "\e001";
}
.icon-home3::before {
  content: "\e002";
}
.icon-office::before {
  content: "\e003";
}
.icon-newspaper::before {
  content: "\e004";
}
.icon-pencil::before {
  content: "\e005";
}
.icon-pencil2::before {
  content: "\e006";
}
.icon-pencil3::before {
  content: "\e007";
}
.icon-pencil4::before {
  content: "\e008";
}
.icon-feather::before {
  content: "\e009";
}
.icon-brush::before {
  content: "\e00a";
}
.icon-pictures::before {
  content: "\e00b";
}
.icon-pictures2::before {
  content: "\e00c";
}
.icon-picture::before {
  content: "\e00d";
}
.icon-picture2::before {
  content: "\e00e";
}
.icon-pictures3::before {
  content: "\e00f";
}
.icon-camera::before {
  content: "\e010";
}
.icon-camera2::before {
  content: "\e011";
}
.icon-movie::before {
  content: "\e012";
}
.icon-movie2::before {
  content: "\e013";
}
.icon-movie3::before {
  content: "\e014";
}
.icon-film::before {
  content: "\e015";
}
.icon-film2::before {
  content: "\e016";
}
.icon-king::before {
  content: "\e017";
}
.icon-queen::before {
  content: "\e018";
}
.icon-announcement::before {
  content: "\e019";
}
.icon-announcement2::before {
  content: "\e01a";
}
.icon-broadcast::before {
  content: "\e01b";
}
.icon-books::before {
  content: "\e01c";
}
.icon-reading::before {
  content: "\e01d";
}
.icon-file::before {
  content: "\e01e";
}
.icon-file-add::before {
  content: "\e01f";
}
.icon-file-remove::before {
  content: "\e020";
}
.icon-copy::before {
  content: "\e021";
}
.icon-stack::before {
  content: "\e022";
}
.icon-folder::before {
  content: "\e023";
}
.icon-folder2::before {
  content: "\e024";
}
.icon-folder-add::before {
  content: "\e025";
}
.icon-folder-remove::before {
  content: "\e026";
}
.icon-folder-add2::before {
  content: "\e027";
}
.icon-folder-remove2::before {
  content: "\e028";
}
.icon-folder-download::before {
  content: "\e029";
}
.icon-folder-upload::before {
  content: "\e02a";
}
.icon-folder-download2::before {
  content: "\e02b";
}
.icon-folder-upload2::before {
  content: "\e02c";
}
.icon-folder3::before {
  content: "\e02d";
}
.icon-folder4::before {
  content: "\e02e";
}
.icon-tag::before {
  content: "\e02f";
}
.icon-tag2::before {
  content: "\e030";
}
.icon-tag3::before {
  content: "\e031";
}
.icon-tag4::before {
  content: "\e032";
}
.icon-tag5::before {
  content: "\e033";
}
.icon-barcode::before {
  content: "\e034";
}
.icon-barcode2::before {
  content: "\e035";
}
.icon-ticket::before {
  content: "\e036";
}
.icon-cart::before {
  content: "\e037";
}
.icon-cart2::before {
  content: "\e038";
}
.icon-cart3::before {
  content: "\e039";
}
.icon-cart4::before {
  content: "\e03a";
}
.icon-cart-add::before {
  content: "\e03b";
}
.icon-cart-remove::before {
  content: "\e03c";
}
.icon-cart-checkout::before {
  content: "\e03d";
}
.icon-basket::before {
  content: "\e03e";
}
.icon-basket2::before {
  content: "\e03f";
}
.icon-bag::before {
  content: "\e040";
}
.icon-coin::before {
  content: "\e041";
}
.icon-support::before {
  content: "\e042";
}
.icon-phone::before {
  content: "\e043";
}
.icon-phone2::before {
  content: "\e044";
}
.icon-phone3::before {
  content: "\e045";
}
.icon-phone4::before {
  content: "\e046";
}
.icon-address::before {
  content: "\e047";
}
.icon-address2::before {
  content: "\e048";
}
.icon-notebook::before {
  content: "\e049";
}
.icon-mail::before {
  content: "\e04a";
}
.icon-mail2::before {
  content: "\e04b";
}
.icon-mail3::before {
  content: "\e04c";
}
.icon-mail4::before {
  content: "\e04d";
}
.icon-mail5::before {
  content: "\e04e";
}
.icon-location::before {
  content: "\e04f";
}
.icon-location2::before {
  content: "\e050";
}
.icon-location3::before {
  content: "\e051";
}
.icon-location4::before {
  content: "\e052";
}
.icon-map::before {
  content: "\e053";
}
.icon-map2::before {
  content: "\e054";
}
.icon-history::before {
  content: "\e055";
}
.icon-clock::before {
  content: "\e056";
}
.icon-clock2::before {
  content: "\e057";
}
.icon-wrist-watch::before {
  content: "\e058";
}
.icon-calendar::before {
  content: "\e059";
}
.icon-calendar2::before {
  content: "\e05a";
}
.icon-printer::before {
  content: "\e05b";
}
.icon-printer2::before {
  content: "\e05c";
}
.icon-screen::before {
  content: "\e05d";
}
.icon-screen2::before {
  content: "\e05e";
}
.icon-laptop::before {
  content: "\e05f";
}
.icon-mobile::before {
  content: "\e060";
}
.icon-tablet::before {
  content: "\e061";
}
.icon-mobile2::before {
  content: "\e062";
}
.icon-disk::before {
  content: "\e063";
}
.icon-cd::before {
  content: "\e064";
}
.icon-comments::before {
  content: "\e065";
}
.icon-comments2::before {
  content: "\e066";
}
.icon-comments3::before {
  content: "\e067";
}
.icon-comments4::before {
  content: "\e068";
}
.icon-comments5::before {
  content: "\e069";
}
.icon-comments6::before {
  content: "\e06a";
}
.icon-comments7::before {
  content: "\e06b";
}
.icon-comments8::before {
  content: "\e06c";
}
.icon-comments9::before {
  content: "\e06d";
}
.icon-user::before {
  content: "\e06e";
}
.icon-user-add::before {
  content: "\e06f";
}
.icon-user-remove::before {
  content: "\e070";
}
.icon-users::before {
  content: "\e071";
}
.icon-users2::before {
  content: "\e072";
}
.icon-quote::before {
  content: "\e073";
}
.icon-quote2::before {
  content: "\e074";
}
.icon-quote3::before {
  content: "\e075";
}
.icon-quote4::before {
  content: "\e076";
}
.icon-search::before {
  content: "\e077";
}
.icon-search2::before {
  content: "\e078";
}
.icon-zoom-in::before {
  content: "\e079";
}
.icon-zoom-out::before {
  content: "\e07a";
}
.icon-key::before {
  content: "\e07b";
}
.icon-key2::before {
  content: "\e07c";
}
.icon-locked::before {
  content: "\e07d";
}
.icon-unlocked::before {
  content: "\e07e";
}
.icon-locked2::before {
  content: "\e07f";
}
.icon-unlocked2::before {
  content: "\e080";
}
.icon-cogs::before {
  content: "\e081";
}
.icon-cog::before {
  content: "\e082";
}
.icon-cog2::before {
  content: "\e083";
}
.icon-remove::before {
  content: "\e084";
}
.icon-remove2::before {
  content: "\e085";
}
.icon-remove3::before {
  content: "\e086";
}
.icon-remove4::before {
  content: "\e087";
}
.icon-remove5::before {
  content: "\e088";
}
.icon-clipboard::before {
  content: "\e089";
}
.icon-clipboard2::before {
  content: "\e08a";
}
.icon-grid::before {
  content: "\e08b";
}
.icon-list::before {
  content: "\e08c";
}
.icon-list2::before {
  content: "\e08d";
}
.icon-list3::before {
  content: "\e08e";
}
.icon-grid2::before {
  content: "\e08f";
}
.icon-list4::before {
  content: "\e090";
}
.icon-list5::before {
  content: "\e091";
}
.icon-list6::before {
  content: "\e092";
}
.icon-menu::before {
  content: "\e093";
}
.icon-menu4::before {
  content: "\e094";
}
.icon-link::before {
  content: "\e095";
}
.icon-star::before {
  content: "\e096";
}
.icon-star2::before {
  content: "\e097";
}
.icon-star3::before {
  content: "\e098";
}
.icon-heart::before {
  content: "\e099";
}
.icon-heart2::before {
  content: "\e09a";
}
.icon-thumbs-up::before {
  content: "\e09b";
}
.icon-thumbs-down::before {
  content: "\e09c";
}
.icon-male::before {
  content: "\e09d";
}
.icon-female::before {
  content: "\e09e";
}
.icon-reload::before {
  content: "\e09f";
}
.icon-turn::before {
  content: "\e0a0";
}
.icon-expand::before {
  content: "\e0a1";
}
.icon-cancel::before {
  content: "\e0a2";
}
.icon-checkmark::before {
  content: "\e0a3";
}
.icon-checkmark2::before {
  content: "\e0a4";
}
.icon-checkmark3::before {
  content: "\e0a5";
}
.icon-minus::before {
  content: "\e0a6";
}
.icon-plus::before {
  content: "\e0a7";
}
.icon-plus-sign::before {
  content: "\e0a8";
  vertical-align: middle;
}
.icon-minus-sign::before {
  content: "\e0a9";
  vertical-align: middle;
}
.icon-remove-sign::before {
  content: "\e0aa";
  vertical-align: middle;
}
.icon-ok-sign::before {
  content: "\e0ab";
  vertical-align: middle;
}
.icon-question-sign::before {
  content: "\e0ac";
  vertical-align: middle;
}
.icon-exclamation-sign::before {
  content: "\e0ad";
  vertical-align: middle;
}
.icon-info-sign::before {
  content: "\e0ae";
  vertical-align: middle;
}
.icon-login::before {
  content: "\e0af";
  vertical-align: middle;
}
.icon-logout::before {
  content: "\e0b0";
  vertical-align: middle;
}
.icon-arrow-up::before {
  content: "\e0b1";
}
.icon-arrow-right::before {
  content: "\e0b2";
}
.icon-arrow-down::before {
  content: "\e0b3";
}
.icon-arrow-left::before {
  content: "\e0b4";
}
.icon-arrow-up2::before {
  content: "\e0b5";
}
.icon-arrow-right2::before {
  content: "\e0b6";
}
.icon-arrow-down2::before {
  content: "\e0b7";
}
.icon-arrow-left2::before {
  content: "\e0b8";
}
.icon-arrow-up3::before {
  content: "\e0b9";
}
.icon-arrow-right3::before {
  content: "\e0ba";
}
.icon-arrow-down3::before {
  content: "\e0bb";
}
.icon-arrow-left3::before {
  content: "\e0bc";
}
.icon-arrow-up4::before {
  content: "\e0bd";
}
.icon-arrow-right4::before {
  content: "\e0be";
}
.icon-arrow-down4::before {
  content: "\e0bf";
}
.icon-arrow-left4::before {
  content: "\e0c0";
}
.icon-arrow-down5::before {
  content: "\e0c1";
}
.icon-arrow-left5::before {
  content: "\e0c2";
}
.icon-arrow-right5::before {
  content: "\e0c3";
}
.icon-arrow-up5::before {
  content: "\e0c4";
}
.icon-arrow-left6::before {
  content: "\e0c5";
}
.icon-arrow-right6::before {
  content: "\e0c6";
}
.icon-arrow-up7::before {
  content: "\e0c7";
}
.icon-arrow-right7::before {
  content: "\e0c8";
}
.icon-arrow-left7::before {
  content: "\e0c9";
}
.icon-arrow-down7::before {
  content: "\e0ca";
}
.icon-sort-up::before {
  content: "\e0cb";
}
.icon-sort-down::before {
  content: "\e0cc";
}
.icon-sort::before {
  content: "\e0cd";
}
.icon-delivery::before {
  content: "\e0ce";
}
.icon-delivery2::before {
  content: "\e0cf";
}
.icon-delivery3::before {
  content: "\e0d0";
}
.icon-delivery4::before {
  content: "\e0d1";
}
.icon-delivery5::before {
  content: "\e0d2";
}
.icon-idcard::before {
  content: "\e0d3";
}
.icon-idcard2::before {
  content: "\e0d4";
}
.icon-idcard3::before {
  content: "\e0d5";
}
.icon-mail-book::before {
  content: "\e0d6";
}
.icon-user-book::before {
  content: "\e0d7";
}
.icon-earth::before {
  content: "\e0d8";
}
.icon-gplus::before {
  content: "\e0d9";
}
.icon-gplus2::before {
  content: "\e0da";
}
.icon-gplus3::before {
  content: "\e0db";
}
.icon-facebook::before {
  content: "\e0dc";
}
.icon-facebook2::before {
  content: "\e0dd";
}
.icon-facebook3::before {
  content: "\e0de";
}
.icon-twitter::before {
  content: "\e0df";
}
.icon-twitter2::before {
  content: "\e0e0";
}
.icon-twitter3::before {
  content: "\e0e1";
}
.icon-feed::before {
  content: "\e0e2";
}
.icon-feed2::before {
  content: "\e0e3";
}
.icon-feed3::before {
  content: "\e0e4";
}
.icon-youtube::before {
  content: "\e0e5";
}
.icon-youtube2::before {
  content: "\e0e6";
}
.icon-vimeo::before {
  content: "\e0e7";
}
.icon-vimeo2::before {
  content: "\e0e8";
}
.icon-linkedin::before {
  content: "\e0e9";
}
.icon-linkedin4::before {
  content: "\e0ea";
}
.icon-linkedin2::before {
  content: "\e0eb";
}
.icon-html5::before {
  content: "\e0ec";
}
.icon-html52::before {
  content: "\e0ed";
}
.icon-chrome::before {
  content: "\e0ee";
}
.icon-firefox::before {
  content: "\e0ef";
}
.icon-IE::before {
  content: "\e0f0";
}
.icon-opera::before {
  content: "\e0f1";
}
.icon-safari::before {
  content: "\e0f2";
}
.icon-toaster::before {
  content: "\e0f3";
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  max-width: 95%;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
[class*=" grid_"],
[class^="grid_"],
[class*="-grid_"],
[class*="_grid_"] {
  float: left;
  position: relative;
  width: 98%;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
._grid_1 {
  width: 6.333%;
}
._grid_1._alpha,
._grid_1._omega {
  width: 7.333%;
}
._grid_1._alpha._omega {
  width: 8.333%;
}
._grid_2 {
  width: 14.667%;
}
._grid_2._alpha,
._grid_2._omega {
  width: 15.667%;
}
._grid_2._alpha._omega {
  width: 16.667%;
}
._grid_3 {
  width: 23%;
}
._grid_3._alpha,
._grid_3._omega {
  width: 24%;
}
._grid_3._alpha._omega {
  width: 25%;
}
._grid_4 {
  width: 31.333%;
}
._grid_4._alpha,
._grid_4._omega {
  width: 32.333%;
}
._grid_4._alpha._omega {
  width: 33.333%;
}
._grid_5 {
  width: 39.667%;
}
._grid_5._alpha,
._grid_5._omega {
  width: 40.667%;
}
._grid_5._alpha._omega {
  width: 41.667%;
}
._grid_6 {
  width: 48%;
}
._grid_6._alpha,
._grid_6._omega {
  width: 49%;
}
._grid_6._alpha._omega {
  width: 50%;
}
._grid_7 {
  width: 56.333%;
}
._grid_7._alpha,
._grid_7._omega {
  width: 57.333%;
}
._grid_7._alpha._omega {
  width: 58.333%;
}
._grid_8 {
  width: 64.667%;
}
._grid_8._alpha,
._grid_8._omega {
  width: 65.667%;
}
._grid_8._alpha._omega {
  width: 66.667%;
}
._grid_9 {
  width: 73%;
}
._grid_9._alpha,
._grid_9._omega {
  width: 74%;
}
._grid_9._alpha._omega {
  width: 75%;
}
._grid_10 {
  width: 81.333%;
}
._grid_10._alpha,
._grid_10._omega {
  width: 82.333%;
}
._grid_10._alpha._omega {
  width: 83.333%;
}
._grid_11 {
  width: 89.667%;
}
._grid_11._alpha,
._grid_11._omega {
  width: 90.667%;
}
._grid_11._alpha._omega {
  width: 91.667%;
}
._grid_12 {
  width: 98%;
}
._grid_12._alpha,
._grid_12._omega {
  width: 99%;
}
._grid_12._alpha._omega {
  width: 100%;
}
._alpha {
  margin-left: 0 !important;
}
._omega {
  margin-right: 0 !important;
}
._prefix_1 {
  margin-left: 9.333% !important;
}
._prefix_1.alpha {
  margin-left: 8.333% !important;
}
._prefix_2 {
  margin-left: 17.667% !important;
}
._prefix_2.alpha {
  margin-left: 16.667% !important;
}
._prefix_3 {
  margin-left: 26% !important;
}
._prefix_3.alpha {
  margin-left: 25% !important;
}
._prefix_4 {
  margin-left: 34.333% !important;
}
._prefix_4.alpha {
  margin-left: 33.333% !important;
}
._prefix_5 {
  margin-left: 42.667% !important;
}
._prefix_5.alpha {
  margin-left: 41.667% !important;
}
._prefix_6 {
  margin-left: 51% !important;
}
._prefix_6.alpha {
  margin-left: 50% !important;
}
._prefix_7 {
  margin-left: 59.333% !important;
}
._prefix_7.alpha {
  margin-left: 58.333% !important;
}
._prefix_8 {
  margin-left: 67.667% !important;
}
._prefix_8.alpha {
  margin-left: 66.667% !important;
}
._prefix_9 {
  margin-left: 76% !important;
}
._prefix_9.alpha {
  margin-left: 75% !important;
}
._prefix_10 {
  margin-left: 84.333% !important;
}
._prefix_10.alpha {
  margin-left: 83.333% !important;
}
._prefix_11 {
  margin-left: 92.667% !important;
}
._prefix_11.alpha {
  margin-left: 91.667% !important;
}
._suffix_1 {
  margin-right: 9.333% !important;
}
._suffix_1.omega {
  margin-right: 8.333% !important;
}
._suffix_2 {
  margin-right: 17.667% !important;
}
._suffix_2.omega {
  margin-right: 16.667% !important;
}
._suffix_3 {
  margin-right: 26% !important;
}
._suffix_3.omega {
  margin-right: 25% !important;
}
._suffix_4 {
  margin-right: 34.333% !important;
}
._suffix_4.omega {
  margin-right: 33.333% !important;
}
._suffix_5 {
  margin-right: 42.667% !important;
}
._suffix_5.omega {
  margin-right: 41.667% !important;
}
._suffix_6 {
  margin-right: 51% !important;
}
._suffix_6.omega {
  margin-right: 50% !important;
}
._suffix_7 {
  margin-right: 59.333% !important;
}
._suffix_7.omega {
  margin-right: 58.333% !important;
}
._suffix_8 {
  margin-right: 67.667% !important;
}
._suffix_8.omega {
  margin-right: 66.667% !important;
}
._suffix_9 {
  margin-right: 76% !important;
}
._suffix_9.omega {
  margin-right: 75% !important;
}
._suffix_10 {
  margin-right: 84.333% !important;
}
._suffix_10.omega {
  margin-right: 83.333% !important;
}
._suffix_11 {
  margin-right: 92.667% !important;
}
._suffix_11.omega {
  margin-right: 91.667% !important;
}
._push_1 {
  left: 8.33% !important;
}
._push_2 {
  left: 16.67% !important;
}
._push_3 {
  left: 25% !important;
}
._push_4 {
  left: 33.33% !important;
}
._push_5 {
  left: 41.67% !important;
}
._push_6 {
  left: 50% !important;
}
._push_7 {
  left: 58.33% !important;
}
._push_8 {
  left: 66.67% !important;
}
._push_9 {
  left: 75% !important;
}
._push_10 {
  left: 83.33% !important;
}
._push_11 {
  left: 91.67% !important;
}
._pull_1 {
  left: -8.33% !important;
}
._pull_2 {
  left: -16.67% !important;
}
._pull_3 {
  left: -25% !important;
}
._pull_4 {
  left: -33.33% !important;
}
._pull_5 {
  left: -41.67% !important;
}
._pull_6 {
  left: -50% !important;
}
._pull_7 {
  left: -58.33% !important;
}
._pull_8 {
  left: -66.67% !important;
}
._pull_9 {
  left: -75% !important;
}
._pull_10 {
  left: -83.33% !important;
}
._pull_11 {
  left: -91.67% !important;
}
@media only screen and (min-width: 801px) {
  .grid_1 {
    width: 6.333%;
  }
  .grid_1.alpha,
  .grid_1.omega {
    width: 7.333%;
  }
  .grid_1.alpha.omega {
    width: 8.333%;
  }
  .grid_2 {
    width: 14.667%;
  }
  .grid_2.alpha,
  .grid_2.omega {
    width: 15.667%;
  }
  .grid_2.alpha.omega {
    width: 16.667%;
  }
  .grid_3 {
    width: 23%;
  }
  .grid_3.alpha,
  .grid_3.omega {
    width: 24%;
  }
  .grid_3.alpha.omega {
    width: 25%;
  }
  .grid_4 {
    width: 31.333%;
  }
  .grid_4.alpha,
  .grid_4.omega {
    width: 32.333%;
  }
  .grid_4.alpha.omega {
    width: 33.333%;
  }
  .grid_5 {
    width: 39.667%;
  }
  .grid_5.alpha,
  .grid_5.omega {
    width: 40.667%;
  }
  .grid_5.alpha.omega {
    width: 41.667%;
  }
  .grid_6 {
    width: 48%;
  }
  .grid_6.alpha,
  .grid_6.omega {
    width: 49%;
  }
  .grid_6.alpha.omega {
    width: 50%;
  }
  .grid_7 {
    width: 56.333%;
  }
  .grid_7.alpha,
  .grid_7.omega {
    width: 57.333%;
  }
  .grid_7.alpha.omega {
    width: 58.333%;
  }
  .grid_8 {
    width: 64.667%;
  }
  .grid_8.alpha,
  .grid_8.omega {
    width: 65.667%;
  }
  .grid_8.alpha.omega {
    width: 66.667%;
  }
  .grid_9 {
    width: 73%;
  }
  .grid_9.alpha,
  .grid_9.omega {
    width: 74%;
  }
  .grid_9.alpha.omega {
    width: 75%;
  }
  .grid_10 {
    width: 81.333%;
  }
  .grid_10.alpha,
  .grid_10.omega {
    width: 82.333%;
  }
  .grid_10.alpha.omega {
    width: 83.333%;
  }
  .grid_11 {
    width: 89.667%;
  }
  .grid_11.alpha,
  .grid_11.omega {
    width: 90.667%;
  }
  .grid_11.alpha.omega {
    width: 91.667%;
  }
  .grid_12 {
    width: 98%;
  }
  .grid_12.alpha,
  .grid_12.omega {
    width: 99%;
  }
  .grid_12.alpha.omega {
    width: 100%;
  }
  .alpha {
    margin-left: 0 !important;
  }
  .omega {
    margin-right: 0 !important;
  }
  .prefix_1 {
    margin-left: 9.333% !important;
  }
  .prefix_1.alpha {
    margin-left: 8.333% !important;
  }
  .prefix_2 {
    margin-left: 17.667% !important;
  }
  .prefix_2.alpha {
    margin-left: 16.667% !important;
  }
  .prefix_3 {
    margin-left: 26% !important;
  }
  .prefix_3.alpha {
    margin-left: 25% !important;
  }
  .prefix_4 {
    margin-left: 34.333% !important;
  }
  .prefix_4.alpha {
    margin-left: 33.333% !important;
  }
  .prefix_5 {
    margin-left: 42.667% !important;
  }
  .prefix_5.alpha {
    margin-left: 41.667% !important;
  }
  .prefix_6 {
    margin-left: 51% !important;
  }
  .prefix_6.alpha {
    margin-left: 50% !important;
  }
  .prefix_7 {
    margin-left: 59.333% !important;
  }
  .prefix_7.alpha {
    margin-left: 58.333% !important;
  }
  .prefix_8 {
    margin-left: 67.667% !important;
  }
  .prefix_8.alpha {
    margin-left: 66.667% !important;
  }
  .prefix_9 {
    margin-left: 76% !important;
  }
  .prefix_9.alpha {
    margin-left: 75% !important;
  }
  .prefix_10 {
    margin-left: 84.333% !important;
  }
  .prefix_10.alpha {
    margin-left: 83.333% !important;
  }
  .prefix_11 {
    margin-left: 92.667% !important;
  }
  .prefix_11.alpha {
    margin-left: 91.667% !important;
  }
  .suffix_1 {
    margin-right: 9.333% !important;
  }
  .suffix_1.omega {
    margin-right: 8.333% !important;
  }
  .suffix_2 {
    margin-right: 17.667% !important;
  }
  .suffix_2.omega {
    margin-right: 16.667% !important;
  }
  .suffix_3 {
    margin-right: 26% !important;
  }
  .suffix_3.omega {
    margin-right: 25% !important;
  }
  .suffix_4 {
    margin-right: 34.333% !important;
  }
  .suffix_4.omega {
    margin-right: 33.333% !important;
  }
  .suffix_5 {
    margin-right: 42.667% !important;
  }
  .suffix_5.omega {
    margin-right: 41.667% !important;
  }
  .suffix_6 {
    margin-right: 51% !important;
  }
  .suffix_6.omega {
    margin-right: 50% !important;
  }
  .suffix_7 {
    margin-right: 59.333% !important;
  }
  .suffix_7.omega {
    margin-right: 58.333% !important;
  }
  .suffix_8 {
    margin-right: 67.667% !important;
  }
  .suffix_8.omega {
    margin-right: 66.667% !important;
  }
  .suffix_9 {
    margin-right: 76% !important;
  }
  .suffix_9.omega {
    margin-right: 75% !important;
  }
  .suffix_10 {
    margin-right: 84.333% !important;
  }
  .suffix_10.omega {
    margin-right: 83.333% !important;
  }
  .suffix_11 {
    margin-right: 92.667% !important;
  }
  .suffix_11.omega {
    margin-right: 91.667% !important;
  }
  .push_1 {
    left: 8.33% !important;
  }
  .push_2 {
    left: 16.67% !important;
  }
  .push_3 {
    left: 25% !important;
  }
  .push_4 {
    left: 33.33% !important;
  }
  .push_5 {
    left: 41.67% !important;
  }
  .push_6 {
    left: 50% !important;
  }
  .push_7 {
    left: 58.33% !important;
  }
  .push_8 {
    left: 66.67% !important;
  }
  .push_9 {
    left: 75% !important;
  }
  .push_10 {
    left: 83.33% !important;
  }
  .push_11 {
    left: 91.67% !important;
  }
  .pull_1 {
    left: -8.33% !important;
  }
  .pull_2 {
    left: -16.67% !important;
  }
  .pull_3 {
    left: -25% !important;
  }
  .pull_4 {
    left: -33.33% !important;
  }
  .pull_5 {
    left: -41.67% !important;
  }
  .pull_6 {
    left: -50% !important;
  }
  .pull_7 {
    left: -58.33% !important;
  }
  .pull_8 {
    left: -66.67% !important;
  }
  .pull_9 {
    left: -75% !important;
  }
  .pull_10 {
    left: -83.33% !important;
  }
  .pull_11 {
    left: -91.67% !important;
  }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .t-grid_1 {
    width: 14.667%;
  }
  .t-grid_1.t-alpha,
  .t-grid_1.t-omega {
    width: 15.667%;
  }
  .t-grid_1.t-alpha.t-omega {
    width: 16.667%;
  }
  .t-grid_2 {
    width: 31.333%;
  }
  .t-grid_2.t-alpha,
  .t-grid_2.t-omega {
    width: 32.333%;
  }
  .t-grid_2.t-alpha.t-omega {
    width: 33.333%;
  }
  .t-grid_3 {
    width: 48%;
  }
  .t-grid_3.t-alpha,
  .t-grid_3.t-omega {
    width: 49%;
  }
  .t-grid_3.t-alpha.t-omega {
    width: 50%;
  }
  .t-grid_4 {
    width: 64.667%;
  }
  .t-grid_4.t-alpha,
  .t-grid_4.t-omega {
    width: 65.667%;
  }
  .t-grid_4.t-alpha.t-omega {
    width: 66.667%;
  }
  .t-grid_5 {
    width: 81.333%;
  }
  .t-grid_5.t-alpha,
  .t-grid_5.t-omega {
    width: 82.333%;
  }
  .t-grid_5.t-alpha.t-omega {
    width: 83.333%;
  }
  .t-grid_6 {
    width: 98%;
  }
  .t-grid_6.t-alpha,
  .t-grid_6.t-omega {
    width: 99%;
  }
  .t-grid_6.t-alpha.t-omega {
    width: 100%;
  }
  .t-alpha {
    margin-left: 0 !important;
  }
  .t-omega {
    margin-right: 0 !important;
  }
  .t-prefix_1 {
    margin-left: 17.667% !important;
  }
  .t-prefix_1.alpha {
    margin-left: 16.667% !important;
  }
  .t-prefix_2 {
    margin-left: 34.333% !important;
  }
  .t-prefix_2.alpha {
    margin-left: 33.333% !important;
  }
  .t-prefix_3 {
    margin-left: 51% !important;
  }
  .t-prefix_3.alpha {
    margin-left: 50% !important;
  }
  .t-prefix_4 {
    margin-left: 67.667% !important;
  }
  .t-prefix_4.alpha {
    margin-left: 66.667% !important;
  }
  .t-prefix_5 {
    margin-left: 84.333% !important;
  }
  .t-prefix_5.alpha {
    margin-left: 83.333% !important;
  }
  .t-suffix_1 {
    margin-right: 17.667% !important;
  }
  .t-suffix_1.omega {
    margin-right: 16.667% !important;
  }
  .t-suffix_2 {
    margin-right: 34.333% !important;
  }
  .t-suffix_2.omega {
    margin-right: 33.333% !important;
  }
  .t-suffix_3 {
    margin-right: 51% !important;
  }
  .t-suffix_3.omega {
    margin-right: 50% !important;
  }
  .t-suffix_4 {
    margin-right: 67.667% !important;
  }
  .t-suffix_4.omega {
    margin-right: 66.667% !important;
  }
  .t-suffix_5 {
    margin-right: 84.333% !important;
  }
  .t-suffix_5.omega {
    margin-right: 83.333% !important;
  }
  .t-push_1 {
    left: 16.67% !important;
  }
  .t-push_2 {
    left: 33.33% !important;
  }
  .t-push_3 {
    left: 50% !important;
  }
  .t-push_4 {
    left: 66.67% !important;
  }
  .t-push_5 {
    left: 83.33% !important;
  }
  .t-pull_1 {
    left: -16.67% !important;
  }
  .t-pull_2 {
    left: -33.33% !important;
  }
  .t-pull_3 {
    left: -50% !important;
  }
  .t-pull_4 {
    left: -66.67% !important;
  }
  .t-pull_5 {
    left: -83.33% !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-grid_1 {
    width: 23%;
  }
  .m-grid_1.m-alpha,
  .m-grid_1.m-omega {
    width: 24%;
  }
  .m-grid_1.m-alpha.m-omega {
    width: 25%;
  }
  .m-grid_2 {
    width: 48%;
  }
  .m-grid_2.m-alpha,
  .m-grid_2.m-omega {
    width: 49%;
  }
  .m-grid_2.m-alpha.m-omega {
    width: 50%;
  }
  .m-grid_3 {
    width: 73%;
  }
  .m-grid_3.m-alpha,
  .m-grid_3.m-omega {
    width: 74%;
  }
  .m-grid_3.m-alpha.m-omega {
    width: 75%;
  }
  .m-grid_4 {
    width: 98%;
  }
  .m-grid_4.m-alpha,
  .m-grid_4.m-omega {
    width: 99%;
  }
  .m-grid_4.m-alpha.m-omega {
    width: 100%;
  }
  .m-alpha {
    margin-left: 0 !important;
  }
  .m-omega {
    margin-right: 0 !important;
  }
  .m-prefix_1 {
    margin-left: 26% !important;
  }
  .m-prefix_1.alpha {
    margin-left: 25% !important;
  }
  .m-prefix_2 {
    margin-left: 51% !important;
  }
  .m-prefix_2.alpha {
    margin-left: 50% !important;
  }
  .m-prefix_3 {
    margin-left: 76% !important;
  }
  .m-prefix_3.alpha {
    margin-left: 75% !important;
  }
  .m-suffix_1 {
    margin-right: 26% !important;
  }
  .m-suffix_1.omega {
    margin-right: 25% !important;
  }
  .m-suffix_2 {
    margin-right: 51% !important;
  }
  .m-suffix_2.omega {
    margin-right: 50% !important;
  }
  .m-suffix_3 {
    margin-right: 76% !important;
  }
  .m-suffix_3.omega {
    margin-right: 75% !important;
  }
  .m-push_1 {
    left: 25% !important;
  }
  .m-push_2 {
    left: 50% !important;
  }
  .m-push_3 {
    left: 75% !important;
  }
  .m-pull_1 {
    left: -25% !important;
  }
  .m-pull_2 {
    left: -50% !important;
  }
  .m-pull_3 {
    left: -75% !important;
  }
}
[class*=" column_"],
[class^="column_"],
[class*="-column_"],
[class*="_column_"] {
  font-size: 0 !important;
}
[class*=" column_"] > *,
[class^="column_"] > *,
[class*="-column_"] > *,
[class*="_column_"] > * {
  font-size: 18px;
  float: none !important;
  display: inline-block;
  vertical-align: top;
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
[class*=" column_"].mb > *,
[class^="column_"].mb > *,
[class*="-column_"].mb > *,
[class*="_column_"].mb > * {
  margin-bottom: 2%;
}
[class*=" column_"].bottom > *,
[class^="column_"].bottom > *,
[class*="-column_"].bottom > *,
[class*="_column_"].bottom > * {
  vertical-align: bottom;
}
[class*=" column_"].middle > *,
[class^="column_"].middle > *,
[class*="-column_"].middle > *,
[class*="_column_"].middle > * {
  vertical-align: middle;
}
[class*=" column_"].full-width > *,
[class^="column_"].full-width > *,
[class*="-column_"].full-width > *,
[class*="_column_"].full-width > * {
  width: 100% !important;
  margin-right: 2% !important;
  margin-left: 0 !important;
}
[class*=" column_"].margin-none > *,
[class^="column_"].margin-none > *,
[class*="-column_"].margin-none > *,
[class*="_column_"].margin-none > * {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*=" column_"].one-line > *,
[class^="column_"].one-line > *,
[class*="-column_"].one-line > *,
[class*="_column_"].one-line > * {
  margin-bottom: 0;
}
[class*=" column_"] > .generator-links,
[class^="column_"] > .generator-links,
[class*="-column_"] > .generator-links,
[class*="_column_"] > .generator-links {
  display: block;
}
[class*=" column_"].larger > *,
[class^="column_"].larger > *,
[class*="-column_"].larger > *,
[class*="_column_"].larger > *,
[class*=" column_"] > .larger,
[class^="column_"] > .larger,
[class*="-column_"] > .larger,
[class*="_column_"] > .larger {
  font-size: 27px !important;
}
[class*=" column_"].large > *,
[class^="column_"].large > *,
[class*="-column_"].large > *,
[class*="_column_"].large > *,
[class*=" column_"] > .large,
[class^="column_"] > .large,
[class*="-column_"] > .large,
[class*="_column_"] > .large {
  font-size: 22.5px !important;
}
[class*=" column_"].small > *,
[class^="column_"].small > *,
[class*="-column_"].small > *,
[class*="_column_"].small > *,
[class*=" column_"] > .small,
[class^="column_"] > .small,
[class*="-column_"] > .small,
[class*="_column_"] > .small {
  font-size: 15.3px !important;
}
._column_1 > * {
  width: 98% !important;
}
._column_2 > * {
  width: 48% !important;
}
._column_3 > * {
  width: 31.333% !important;
}
._column_4 > * {
  width: 23% !important;
}
._column_5 > * {
  width: 18% !important;
}
._column_6 > * {
  width: 14.667% !important;
}
._column_7 > * {
  width: 12.286% !important;
}
._column_8 > * {
  width: 10.5% !important;
}
._column_9 > * {
  width: 9.111% !important;
}
._column_10 > * {
  width: 8% !important;
}
._column_11 > * {
  width: 7.091% !important;
}
._column_12 > * {
  width: 6.333% !important;
}
.full-width._column_1 > * {
  width: 100% !important;
}
.full-width._column_1 > *:nth-child(1n) {
  margin-right: 0 !important;
}
.full-width._column_2 > * {
  width: 49% !important;
}
.full-width._column_2 > *:nth-child(2n) {
  margin-right: 0 !important;
}
.full-width._column_3 > * {
  width: 32% !important;
}
.full-width._column_3 > *:nth-child(3n) {
  margin-right: 0 !important;
}
.full-width._column_4 > * {
  width: 23.5% !important;
}
.full-width._column_4 > *:nth-child(4n) {
  margin-right: 0 !important;
}
.full-width._column_5 > * {
  width: 18.4% !important;
}
.full-width._column_5 > *:nth-child(5n) {
  margin-right: 0 !important;
}
.full-width._column_6 > * {
  width: 15% !important;
}
.full-width._column_6 > *:nth-child(6n) {
  margin-right: 0 !important;
}
.full-width._column_7 > * {
  width: 12.571% !important;
}
.full-width._column_7 > *:nth-child(7n) {
  margin-right: 0 !important;
}
.full-width._column_8 > * {
  width: 10.75% !important;
}
.full-width._column_8 > *:nth-child(8n) {
  margin-right: 0 !important;
}
.full-width._column_9 > * {
  width: 9.333% !important;
}
.full-width._column_9 > *:nth-child(9n) {
  margin-right: 0 !important;
}
.full-width._column_10 > * {
  width: 8.2% !important;
}
.full-width._column_10 > *:nth-child(10n) {
  margin-right: 0 !important;
}
.full-width._column_11 > * {
  width: 7.273% !important;
}
.full-width._column_11 > *:nth-child(11n) {
  margin-right: 0 !important;
}
.full-width._column_12 > * {
  width: 6.5% !important;
}
.full-width._column_12 > *:nth-child(12n) {
  margin-right: 0 !important;
}
.margin-none._column_1 > * {
  width: 100% !important;
}
.margin-none._column_2 > * {
  width: 50% !important;
}
.margin-none._column_3 > * {
  width: 33.333% !important;
}
.margin-none._column_4 > * {
  width: 25% !important;
}
.margin-none._column_5 > * {
  width: 20% !important;
}
.margin-none._column_6 > * {
  width: 16.667% !important;
}
.margin-none._column_7 > * {
  width: 14.286% !important;
}
.margin-none._column_8 > * {
  width: 12.5% !important;
}
.margin-none._column_9 > * {
  width: 11.111% !important;
}
.margin-none._column_10 > * {
  width: 10% !important;
}
.margin-none._column_11 > * {
  width: 9.091% !important;
}
.margin-none._column_12 > * {
  width: 8.333% !important;
}
@media only screen and (min-width: 801px) {
  .column_1 > * {
    width: 98% !important;
  }
  .column_2 > * {
    width: 48% !important;
  }
  .column_3 > * {
    width: 31.333% !important;
  }
  .column_4 > * {
    width: 23% !important;
  }
  .column_5 > * {
    width: 18% !important;
  }
  .column_6 > * {
    width: 14.667% !important;
  }
  .column_7 > * {
    width: 12.286% !important;
  }
  .column_8 > * {
    width: 10.5% !important;
  }
  .column_9 > * {
    width: 9.111% !important;
  }
  .column_10 > * {
    width: 8% !important;
  }
  .column_11 > * {
    width: 7.091% !important;
  }
  .column_12 > * {
    width: 6.333% !important;
  }
  .full-width.column_1 > * {
    width: 100% !important;
  }
  .full-width.column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.column_2 > * {
    width: 49% !important;
  }
  .full-width.column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.column_3 > * {
    width: 32% !important;
  }
  .full-width.column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.column_4 > * {
    width: 23.5% !important;
  }
  .full-width.column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .full-width.column_5 > * {
    width: 18.4% !important;
  }
  .full-width.column_5 > *:nth-child(5n) {
    margin-right: 0 !important;
  }
  .full-width.column_6 > * {
    width: 15% !important;
  }
  .full-width.column_6 > *:nth-child(6n) {
    margin-right: 0 !important;
  }
  .full-width.column_7 > * {
    width: 12.571% !important;
  }
  .full-width.column_7 > *:nth-child(7n) {
    margin-right: 0 !important;
  }
  .full-width.column_8 > * {
    width: 10.75% !important;
  }
  .full-width.column_8 > *:nth-child(8n) {
    margin-right: 0 !important;
  }
  .full-width.column_9 > * {
    width: 9.333% !important;
  }
  .full-width.column_9 > *:nth-child(9n) {
    margin-right: 0 !important;
  }
  .full-width.column_10 > * {
    width: 8.2% !important;
  }
  .full-width.column_10 > *:nth-child(10n) {
    margin-right: 0 !important;
  }
  .full-width.column_11 > * {
    width: 7.273% !important;
  }
  .full-width.column_11 > *:nth-child(11n) {
    margin-right: 0 !important;
  }
  .full-width.column_12 > * {
    width: 6.5% !important;
  }
  .full-width.column_12 > *:nth-child(12n) {
    margin-right: 0 !important;
  }
  .margin-none.column_1 > * {
    width: 100% !important;
  }
  .margin-none.column_2 > * {
    width: 50% !important;
  }
  .margin-none.column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.column_4 > * {
    width: 25% !important;
  }
  .margin-none.column_5 > * {
    width: 20% !important;
  }
  .margin-none.column_6 > * {
    width: 16.667% !important;
  }
  .margin-none.column_7 > * {
    width: 14.286% !important;
  }
  .margin-none.column_8 > * {
    width: 12.5% !important;
  }
  .margin-none.column_9 > * {
    width: 11.111% !important;
  }
  .margin-none.column_10 > * {
    width: 10% !important;
  }
  .margin-none.column_11 > * {
    width: 9.091% !important;
  }
  .margin-none.column_12 > * {
    width: 8.333% !important;
  }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .t-column_1 > * {
    width: 98% !important;
  }
  .t-column_2 > * {
    width: 48% !important;
  }
  .t-column_3 > * {
    width: 31.333% !important;
  }
  .t-column_4 > * {
    width: 23% !important;
  }
  .t-column_5 > * {
    width: 18% !important;
  }
  .t-column_6 > * {
    width: 14.667% !important;
  }
  .full-width.t-column_1 > * {
    width: 100% !important;
  }
  .full-width.t-column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_2 > * {
    width: 49% !important;
  }
  .full-width.t-column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_3 > * {
    width: 32% !important;
  }
  .full-width.t-column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_4 > * {
    width: 23.5% !important;
  }
  .full-width.t-column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_5 > * {
    width: 18.4% !important;
  }
  .full-width.t-column_5 > *:nth-child(5n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_6 > * {
    width: 15% !important;
  }
  .full-width.t-column_6 > *:nth-child(6n) {
    margin-right: 0 !important;
  }
  .margin-none.t-column_1 > * {
    width: 100% !important;
  }
  .margin-none.t-column_2 > * {
    width: 50% !important;
  }
  .margin-none.t-column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.t-column_4 > * {
    width: 25% !important;
  }
  .margin-none.t-column_5 > * {
    width: 20% !important;
  }
  .margin-none.t-column_6 > * {
    width: 16.667% !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-column_1 > * {
    width: 98% !important;
  }
  .m-column_2 > * {
    width: 48% !important;
  }
  .m-column_3 > * {
    width: 31.333% !important;
  }
  .m-column_4 > * {
    width: 23% !important;
  }
  .full-width.m-column_1 > * {
    width: 100% !important;
  }
  .full-width.m-column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_2 > * {
    width: 49% !important;
  }
  .full-width.m-column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_3 > * {
    width: 32% !important;
  }
  .full-width.m-column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_4 > * {
    width: 23.5% !important;
  }
  .full-width.m-column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .margin-none.m-column_1 > * {
    width: 100% !important;
  }
  .margin-none.m-column_2 > * {
    width: 50% !important;
  }
  .margin-none.m-column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.m-column_4 > * {
    width: 25% !important;
  }
}
.centered {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.ws-nowrap {
  white-space: nowrap !important;
}
.ws-normal {
  white-space: normal !important;
}
.ws-pre {
  white-space: pre-wrap !important;
}
.text-light {
  font-weight: 300 !important;
}
.text-normal {
  font-weight: normal !important;
  font-style: normal !important;
}
.text-medium {
  font-weight: 500 !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-italic {
  font-style: italic !important;
}
.lh-inherit {
  line-height: inherit !important;
}
.lh-small {
  line-height: 1 !important;
}
.lh-medium {
  line-height: 1.275 !important;
}
.lh-normal {
  line-height: 1.5 !important;
}
.lh-large {
  line-height: 1.875 !important;
}
.cl-none {
  clear: none;
}
.cl-both {
  clear: both;
}
.fl-left {
  float: left !important;
}
.fl-right {
  float: right !important;
}
.fl-none {
  float: none !important;
}
.scroll {
  overflow: auto !important;
}
.wrap {
  overflow: hidden !important;
}
.overflow-none {
  overflow: visible !important;
}
.show {
  display: block !important;
}
.block {
  display: block;
}
.inline-block-wrap {
  font-size: 0;
}
.inline-block-wrap >* {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.hide,
.ui-helper-hidden,
.ui-helper-hidden-accessible,
.btn.hide {
  display: none;
}
.pointer {
  cursor: pointer !important;
}
.help {
  cursor: help !important;
}
.fs12,
.is12:before {
  font-size: 12px !important;
}
.fs14,
.is14:before {
  font-size: 14px !important;
}
.fs16,
.is16:before {
  font-size: 16px !important;
}
.fs18,
.is18:before {
  font-size: 18px !important;
}
.fs24,
.is24:before {
  font-size: 24px !important;
}
.fs32,
.is32:before {
  font-size: 32px !important;
}
.fs48,
.is48:before {
  font-size: 48px !important;
}
.fs64,
.is64:before {
  font-size: 64px !important;
}
.fs-inherit,
.is-inherit:before {
  font-size: inherit !important;
}
.inherit {
  color: inherit;
  background: inherit;
}
.inherit-bg {
  background: inherit;
}
.inherit-color {
  color: inherit;
}
a.inherit-color:hover {
  color: #ed4cba;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m0px {
  margin: 0px !important;
}
.mt0px {
  margin-top: 0px !important;
}
.mt5px {
  margin-top: 5px !important;
}
.mt10px {
  margin-top: 10px !important;
}
.mt15px {
  margin-top: 15px !important;
}
.mt20px {
  margin-top: 20px !important;
}
.mt25px {
  margin-top: 25px !important;
}
.mt30px {
  margin-top: 30px !important;
}
.mb0px {
  margin-bottom: 0px !important;
}
.mb5px {
  margin-bottom: 5px !important;
}
.mb10px {
  margin-bottom: 10px !important;
}
.mb15px {
  margin-bottom: 15px !important;
}
.mb20px {
  margin-bottom: 20px !important;
}
.mb25px {
  margin-bottom: 25px !important;
}
.mb30px {
  margin-bottom: 30px !important;
}
.mtLabel {
  margin-top: 1.75em;
}
.mtInput {
  margin-top: 2.3em;
}
.ml-grid {
  margin-left: 1% !important;
}
.mr-grid {
  margin-right: 1% !important;
}
.p0px {
  padding: 0px !important;
}
.pl-grid {
  padding-left: 1%;
}
.pr-grid {
  padding-right: 1%;
}
.ff-text {
  font-family: 'Lato', "Helvetica Neue", Arial, sans-serif;
}
.ff-header {
  font-family: 'Lato', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
.h-auto {
  height: auto !important;
}
.maxH-none {
  max-height: none !important;
}
.w-auto {
  width: auto !important;
}
.maxW-none {
  max-width: none !important;
}
.gray-darker-bg {
  color: #fff;
  background-color: #222222;
}
.gray-dark-bg {
  color: #fff;
  background-color: #555555;
}
.gray-bg {
  color: #fff;
  background-color: #888888;
}
.gray-light-bg {
  color: #fff;
  background-color: #bbbbbb;
}
.gray-lighter-bg {
  color: #555555;
  background-color: #eeeeee;
}
.white-bg {
  background: #fff;
}
.gray-darker {
  color: #222222;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #888888;
}
.gray-light {
  color: #bbbbbb;
}
.gray-lighter {
  color: #eeeeee;
}
.white {
  color: #fff;
}
.table {
  float: none;
  display: table;
  width: 100%;
}
.tr {
  float: none;
  display: table-row;
}
.td {
  float: none;
  display: table-cell;
}
.gl-change {
  font-size: 0;
}
.gl-change a,
.gl-change :before {
  font-size: 18px;
}
.gl-change .generator-links {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  width: 11px !important;
  height: 11px !important;
  line-height: 11px !important;
  font-size: 0 !important;
  color: #FFF;
  border-color: #0679dc;
  background-color: #28b0ed;
  padding: 4px !important;
  position: relative;
}
.gl-change .generator-links::before {
  font-size: 11px !important;
}
.gl-change .generator-links:hover,
.gl-change .generator-links:active,
.gl-change .generator-links.active {
  color: #FFF;
  border-color: #055eab;
  background-color: #1195d1;
}
.gl-change .generator-links img {
  display: none !important;
}
.gl-change .generator-links::before {
  font-family: flexkit-icons;
  content: "\e008";
}
.gl-change .generator-links + .generator-links {
  margin-left: 1px;
}
.gl-change .generator-links + .generator-links::before {
  content: "\e095";
}
.gl-change a.icon + .generator-links:before {
  content: "\e095";
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  margin: 0 0 -2px -15px;
  vertical-align: bottom;
}
.gl-change .btn ~ .generator-links {
  vertical-align: top;
}
.gl-change .btn + .generator-links + .generator-links ~ .generator-links {
  top: 19px;
  left: -40px;
}
.gl-change.color .generator-links {
  padding: 4px;
}
.gl-change.color .generator-links::before {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.gl-change.color .generator-links::before {
  content: "\e00a";
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.rss {
  color: #f26522;
}
.skype {
  color: #00aff0;
}
.gplus {
  color: #dd4b39;
}
.vimeo {
  color: #1ab7ea;
}
.twitter {
  color: #55acee;
}
.youtube {
  color: #e52d27;
}
.flicker {
  color: #ff0084;
}
.linkedin {
  color: #0976b4;
}
.facebook {
  color: #3b5998;
}
.pinterest {
  color: #cc2127;
}
.vkontakte {
  color: #45668e;
}
.instagram {
  color: #3f729b;
}
a.inherit {
  color: inherit;
}
a:hover.rss {
  color: #d44d0d;
}
a:hover.gplus {
  color: #c23321;
}
a:hover.twitter {
  color: #2795e9;
}
a:hover.youtube {
  color: #c21d17;
}
a:hover.linkedin {
  color: #075683;
}
a:hover.facebook {
  color: #2d4373;
}
a:hover.vkontakte {
  color: #344d6c;
}
.btn.rss {
  color: #fff;
  border-color: #f26522;
  background-color: #f26522;
}
.btn.rss:hover,
.btn.rss:active,
.btn.rss.active {
  color: #fff;
  border-color: #d44d0d;
  background-color: #d44d0d;
}
.btn.gplus {
  color: #fff;
  border-color: #dd4b39;
  background-color: #dd4b39;
}
.btn.gplus:hover,
.btn.gplus:active,
.btn.gplus.active {
  color: #fff;
  border-color: #c23321;
  background-color: #c23321;
}
.btn.twitter {
  color: #fff;
  border-color: #55acee;
  background-color: #55acee;
}
.btn.twitter:hover,
.btn.twitter:active,
.btn.twitter.active {
  color: #fff;
  border-color: #2795e9;
  background-color: #2795e9;
}
.btn.youtube {
  color: #fff;
  border-color: #e52d27;
  background-color: #e52d27;
}
.btn.youtube:hover,
.btn.youtube:active,
.btn.youtube.active {
  color: #fff;
  border-color: #c21d17;
  background-color: #c21d17;
}
.btn.linkedin {
  color: #fff;
  border-color: #0976b4;
  background-color: #0976b4;
}
.btn.linkedin:hover,
.btn.linkedin:active,
.btn.linkedin.active {
  color: #fff;
  border-color: #075683;
  background-color: #075683;
}
.btn.facebook {
  color: #fff;
  border-color: #3b5998;
  background-color: #3b5998;
}
.btn.facebook:hover,
.btn.facebook:active,
.btn.facebook.active {
  color: #fff;
  border-color: #2d4373;
  background-color: #2d4373;
}
.btn.vkontakte {
  color: #fff;
  border-color: #45668e;
  background-color: #45668e;
}
.btn.vkontakte:hover,
.btn.vkontakte:active,
.btn.vkontakte.active {
  color: #fff;
  border-color: #344d6c;
  background-color: #344d6c;
}
.labeled.gplus :checked ~ input,
.labeled.gplus input:focus {
  border-color: #dd4b39;
}
.labeled.gplus *:checked ~ label,
.labeled.gplus *:focus ~ label,
.labeled.gplus *:checked ~ .label,
.labeled.gplus *:focus ~ .label {
  background: #dd4b39;
}
.labeled.gplus *:checked ~ [class*="icon-"],
.labeled.gplus *:focus ~ [class*="icon-"] {
  color: #dd4b39;
}
.labeled.twitter :checked ~ input,
.labeled.twitter input:focus {
  border-color: #55acee;
}
.labeled.twitter *:checked ~ label,
.labeled.twitter *:focus ~ label,
.labeled.twitter *:checked ~ .label,
.labeled.twitter *:focus ~ .label {
  background: #55acee;
}
.labeled.twitter *:checked ~ [class*="icon-"],
.labeled.twitter *:focus ~ [class*="icon-"] {
  color: #55acee;
}
.labeled.facebook :checked ~ input,
.labeled.facebook input:focus {
  border-color: #3b5998;
}
.labeled.facebook *:checked ~ label,
.labeled.facebook *:focus ~ label,
.labeled.facebook *:checked ~ .label,
.labeled.facebook *:focus ~ .label {
  background: #3b5998;
}
.labeled.facebook *:checked ~ [class*="icon-"],
.labeled.facebook *:focus ~ [class*="icon-"] {
  color: #3b5998;
}
.labeled.linkedin :checked ~ input,
.labeled.linkedin input:focus {
  border-color: #0976b4;
}
.labeled.linkedin *:checked ~ label,
.labeled.linkedin *:focus ~ label,
.labeled.linkedin *:checked ~ .label,
.labeled.linkedin *:focus ~ .label {
  background: #0976b4;
}
.labeled.linkedin *:checked ~ [class*="icon-"],
.labeled.linkedin *:focus ~ [class*="icon-"] {
  color: #0976b4;
}
.labeled.youtube :checked ~ input,
.labeled.youtube input:focus {
  border-color: #e52d27;
}
.labeled.youtube *:checked ~ [class*="icon-"],
.labeled.youtube *:focus ~ [class*="icon-"] {
  color: #e52d27;
}
.labeled.youtube *:checked ~ label,
.labeled.youtube *:focus ~ label,
.labeled.youtube *:checked ~ .label,
.labeled.youtube *:focus ~ .label {
  background: #e52d27;
}
.labeled.rss :checked ~ input,
.labeled.rss input:focus {
  border-color: #f26522;
}
.labeled.rss *:checked ~ label,
.labeled.rss *:focus ~ label,
.labeled.rss *:checked ~ .label,
.labeled.rss *:focus ~ .label {
  background: #f26522;
}
.labeled.rss *:checked ~ [class*="icon-"],
.labeled.rss *:focus ~ [class*="icon-"] {
  color: #f26522;
}
.labeled.vkontakte :checked ~ input,
.labeled.vkontakte input:focus {
  border-color: #45668e;
}
.labeled.vkontakte *:checked ~ label,
.labeled.vkontakte *:focus ~ label,
.labeled.vkontakte *:checked ~ .label,
.labeled.vkontakte *:focus ~ .label {
  background: #45668e;
}
.labeled.vkontakte *:checked ~ [class*="icon-"],
.labeled.vkontakte *:focus ~ [class*="icon-"] {
  color: #45668e;
}
.social-field .labeled {
  float: left;
  margin: 0;
  cursor: pointer;
}
.social-field .labeled + .labeled {
  margin-left: 5px;
}
.social-field .labeled [class*="icon-"] {
  float: left;
  font-size: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.social-field .labeled [class*="icon-"]::before {
  font-size: 45px;
}
.social-field .labeled input {
  width: 0;
  margin-left: -24px;
}
.social-field .labeled :checked ~ input {
  margin-left: 0;
  width: 250px;
}
.primary {
  color: #abcb3c;
}
a.primary:hover {
  color: #7b9327;
}
.success {
  color: #4fc752;
}
a.success:hover {
  color: #319933;
}
.warning {
  color: #ffc159;
}
a.warning:hover {
  color: #ffa40d;
}
.error {
  color: #f25f5c;
}
a.error:hover {
  color: #ec1915;
}
.info {
  color: #28b0ed;
}
a.info:hover {
  color: #0f85b9;
}
.seosamba-color {
  color: #83b421;
}
a.seosamba-color:hover {
  color: #547315;
}
.seosamba-bg {
  color: #fff;
  background-color: #83b421;
}
.seotoaster-color {
  color: #6464fd;
}
a.seotoaster-color:hover {
  color: #1818fc;
}
.seotoaster-bg {
  color: #fff;
  background-color: #6464fd;
}
.primary-bg {
  background-color: #abcb3c;
  color: #FFF;
}
.success-bg {
  background-color: #4fc752;
  color: #fff;
}
.warning-bg {
  background-color: #ffc159;
  color: #fff;
}
.error-bg {
  background-color: #f25f5c;
  color: #fff;
}
.info-bg {
  background-color: #28b0ed;
  color: #fff;
}
.larger {
  font-size: 1.5em;
}
.large {
  font-size: 1.25em;
}
.small {
  font-size: 0.85em;
}
.mini {
  font-size: 0.75em;
}
.uppercase {
  text-transform: uppercase;
}
.lowecase {
  text-transform: lowercase;
}
code {
  padding: 1px 5px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  color: #f25f5c;
}
a {
  color: #ed4cba;
}
a:hover {
  color: #c01389;
}
a:active {
  color: #c01389;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  color: #222222;
  font-family: 'Lato', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
h1:first-child:not(.logo),
h2:first-child:not(.logo),
h3:first-child:not(.logo),
h4:first-child:not(.logo),
h5:first-child:not(.logo),
h6:first-child:not(.logo),
.h1:first-child:not(.logo),
.h2:first-child:not(.logo),
.h3:first-child:not(.logo),
.h4:first-child:not(.logo),
.h5:first-child:not(.logo),
.h6:first-child:not(.logo) {
  margin-top: 0;
}
.slide .slide-description h1,
.slide .slide-description h2,
.slide .slide-description h3,
.slide .slide-description h4,
.slide .slide-description h5,
.slide .slide-description h6,
.slide .slide-description .h1,
.slide .slide-description .h2,
.slide .slide-description .h3,
.slide .slide-description .h4,
.slide .slide-description .h5,
.slide .slide-description .h6 {
  color: inherit;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
.h1:empty,
.h2:empty,
.h3:empty,
.h4:empty,
.h5:empty,
.h6:empty {
  display: none;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.875em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.subtitle {
  color: #888888;
  font-size: 0.75em;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
}
address {
  margin-bottom: 20px;
  font-style: normal;
}
blockquote {
  margin: 2em 0;
  padding: 0.25em 2.5em;
  color: #6f6f6f;
  font-size: 1.25em;
  position: relative;
}
blockquote::before,
blockquote::after {
  color: #bbbbbb;
  position: absolute;
  line-height: 1em;
  font-size: 2.5rem;
  font-family: 'flexkit-icons';
}
blockquote::after {
  right: 0;
  bottom: -0.25em;
  content: "\e074";
}
blockquote::before {
  left: 0;
  top: -0.25em;
  content: "\e073";
}
blockquote p {
  margin-bottom: 0;
}
blockquote p + p {
  margin-top: 15px;
}
blockquote .v2::after {
  content: "\e076";
}
blockquote .v2::before {
  content: "\e075";
}
blockquote.noquotes {
  border-left: 2px solid #bbbbbb;
  padding: .5em 1em;
}
blockquote.noquotes::before,
blockquote.noquotes::after {
  content: '';
}
blockquote.onequote {
  padding-left: 2em;
  padding-right: 2em;
}
blockquote.onequote::before {
  top: -0.45em;
  font-size: 6.25rem;
  opacity: 0.2;
}
blockquote.onequote::after {
  content: '';
}
blockquote.cloud {
  padding: 1em;
  background-color: #eeeeee;
  border-radius: 5px;
  position: relative;
}
blockquote.cloud::after {
  content: '';
  position: absolute;
  border: 10px solid #eeeeee;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
}
blockquote.cloud::before {
  content: '';
}
blockquote.cloud.border {
  background-color: #FFF;
  padding: 1em;
  border: 1px solid #eeeeee;
  border-radius: 0.25em;
}
blockquote.cloud.border::before {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-width: 9px;
  border-style: solid;
  border-color: #FFF #FFF transparent transparent;
  margin: auto;
  width: 0;
  height: 0;
}
blockquote.cloud.right {
  zoom: 1;
}
blockquote.cloud.right::after {
  left: auto;
  right: 100px;
}
blockquote.cloud.right.border::before {
  left: auto;
  right: 101px;
}
blockquote.cloud.left {
  zoom: 1;
}
blockquote.cloud.left::after {
  left: 100px;
  right: auto;
  border-right-color: transparent !important;
  border-left-color: #eeeeee !important;
}
blockquote.cloud.left.border::before {
  left: 101px;
  right: auto;
  border-right-color: transparent;
  border-left-color: #FFF;
}
ul,
ol {
  margin-bottom: 1.5em;
  padding-left: 2.5em;
}
ul::after,
ol::after {
  content: "";
  display: table;
  clear: both;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin: 0.3em 0 1em;
}
ul li,
ol li {
  margin-bottom: 0.3em;
}
ul li::after,
ol li::after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-latin;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75em;
}
dl dd + dd {
  margin-top: -0.5em;
}
dl.horizontal dt {
  float: left;
  clear: left;
  width: 35%;
  text-align: right;
}
dl.horizontal dd {
  margin-left: 37%;
}
[class*=" list-"],
[class^="list-"] {
  list-style-type: none;
  padding-left: 0;
}
ul.list-unstyled {
  zoom: 1;
}
ul.list-striped > li {
  margin: 0;
  padding: .75em;
}
ul.list-striped > li:nth-child(odd) {
  background: #eeeeee;
}
ul.list-inline {
  zoom: 1;
}
ul.list-inline > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
}
ul.list-arrow {
  zoom: 1;
}
ul.list-arrow > li {
  padding-left: 1em;
}
ul.list-arrow > li::before {
  float: left;
  color: inherit;
  margin-left: -1em;
  font-family: flexkit-icons;
  content: '\e0c3';
}
ul.list-arrow > li:hover::before {
  color: #abcb3c;
}
ul.list-checkmark {
  zoom: 1;
}
ul.list-checkmark > li {
  padding-left: 1.5em;
}
ul.list-checkmark > li::before {
  float: left;
  color: inherit;
  margin-left: -1.5em;
  margin-top: .35em;
  font-family: flexkit-icons;
  font-size: .75em;
  content: '\e0a3';
}
ul.list-checkmark > li:hover::before {
  color: #abcb3c;
}
ul.list-count-sign {
  counter-reset: list;
}
ul.list-count-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
}
ul.list-count-sign > li::before {
  display: inline-block;
  vertical-align: middle;
  counter-increment: list;
  content: counter(list);
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  margin-left: -3em;
  margin-right: 1em;
  color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  border-radius: 10em;
}
ul.list-count-sign > li:hover::before {
  background-color: rgba(0, 0, 0, 0.25);
}
ul.list-icon-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
}
ul.list-icon-sign > li::before {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  line-height: inherit;
  text-align: center;
  background-color: #eeeeee;
  margin-left: -3em;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  border-radius: 10em;
}
ul.list-icon-sign > li:hover::before {
  background: #abcb3c;
  color: #FFF;
}
ul.list-bullet {
  zoom: 1;
}
ul.list-bullet > li {
  padding-left: 1em;
}
ul.list-bullet > li::before {
  content: '\002022';
  vertical-align: top;
  color: #abcb3c;
  margin-left: -1em;
  margin-right: 1em;
}
ul.list-bordered {
  zoom: 1;
}
ul.list-bordered > li {
  border-bottom: 1px solid #bbbbbb;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
footer ul.list-bordered > li {
  border-color: inherit;
}
ul.list-bordered.dashed > li {
  border-bottom-style: dashed;
}
ul.list-separated {
  zoom: 1;
}
ul.list-separated > li {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
ul.list-separated > li + li {
  border-top: 1px solid #bbbbbb;
}
footer ul.list-separated > li {
  border-color: inherit;
}
ul.list-separated.dashed > li {
  border-top-style: dashed;
}
ul.list-testimonials {
  zoom: 1;
}
ul.list-testimonials li {
  position: relative;
  margin: 0 0 3.5em;
  border: 1px solid #bbbbbb;
  padding: 10px;
  font-size: 0.85em;
}
ul.list-testimonials li p {
  margin: 0.5em 0 0;
}
ul.list-testimonials li p:first-child {
  margin: 0;
}
ul.list-testimonials li cite {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 5px 5px 50px;
  color: #abcb3c;
}
ul.list-testimonials li cite > * {
  color: #555555;
}
ul.list-testimonials li cite::after,
ul.list-testimonials li cite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 11px;
  border-style: solid;
  border-width: 15px;
  border-color: #fff #fff transparent transparent;
}
ul.list-testimonials li cite::before {
  left: 10px;
  border-width: 16px;
  border-color: #bbbbbb #bbbbbb transparent transparent;
}
ul.list-tags {
  margin-bottom: 0;
}
ul.list-tags::after {
  content: "";
  display: table;
  clear: both;
}
ul.list-tags > li {
  float: left;
  margin: 0.5%;
  padding: 4px 8px;
  background: #eeeeee;
  cursor: pointer;
  line-height: 1;
  border: 1px solid #d5d5d5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.list-tags > li.filed {
  padding: 1px;
}
ul.list-tags > li > * {
  line-height: normal;
}
ul.list-tags > li img {
  width: auto;
  max-height: 16px;
}
ul.list-tags > li:hover,
ul.list-tags > li.active,
ul.list-tags > li.tag-current {
  background: #d5d5d5;
}
ul.list-tags > li.disabled {
  cursor: default;
  background: #eeeeee;
  color: #d5d5d5;
}
ul.list-icon-line > li {
  margin: 0 0 0 24.9375px;
  padding: 10px 0 15px 33.25px;
  border-left: 2px solid #eeeeee;
  position: relative;
}
ul.list-icon-line > li .bubble {
  position: absolute;
  top: 5px;
  left: -17.625px;
  width: 33.25px;
  height: 33.25px;
  font-size: 19px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #eeeeee;
  border-radius: 10em;
}
ul.list-icon-line > li:hover.bubble {
  border-color: #e2e2e2;
}
ul.list-step {
  text-align: center;
}
ul.list-step .step-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 3em;
  position: relative;
  background: #d0f0d1;
  color: #fff;
  padding: 0 1em;
  border-color: #d0f0d1;
  cursor: pointer;
}
ul.list-step .step-item + .step-item {
  margin-left: 1.5em;
}
ul.list-step .step-item::before,
ul.list-step .step-item::after,
ul.list-step .step-title::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 1.5em 0 1.5em 1.5em;
  border-color: inherit;
}
ul.list-step .step-item::before,
ul.list-step .step-title::after {
  z-index: 1;
  left: -1.5em;
  border-left-color: transparent !important;
}
ul.list-step .step-item::after {
  right: -1.5em;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
ul.list-step .step-item.active {
  background: #4fc752;
  border-color: #4fc752;
}
ul.list-step .step-item.active ~ .step-item {
  background: #ddd;
  border-color: #ddd;
}
ul.list-step .step-item.active ~ .step-item:hover {
  background: #d0d0d0;
  border-color: #d0d0d0;
}
ul.list-step .step-item.error {
  background: #fcd5d4 !important;
  border-color: #fcd5d4 !important;
}
ul.list-step .step-item.active.error {
  background: #f25f5c !important;
  border-color: #f25f5c !important;
}
ul.list-step .step-item:first-child::before,
ul.list-step .step-item:last-child::after {
  content: none;
}
ul.list-step .step-title {
  font-size: 1.15em;
  line-height: normal;
}
ul.list-step .step-title[data-count]::before {
  content: attr(data-count);
  border: 2px solid #fff;
  border-radius: 2em;
  width: 1.15em;
  height: 1.15em;
  line-height: 1.15em;
  font-size: 1.25em;
  margin-right: 0.25em;
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
}
ul.list-step .step-title::after {
  font-size: 0.9em;
  z-index: 0;
  left: -1.75em;
  border-right-width: .3em;
  border-left-color: transparent !important;
}
ul.list-select {
  border: 1px solid #bbbbbb;
  min-height: calc(24px + 1em);
}
ul.list-select > li {
  padding: .5em;
  margin: 0;
  cursor: pointer;
}
ul.list-select > li + li {
  border-top: 1px solid #bbbbbb;
}
ul.list-select > li.active {
  background: #eeeeee;
}
ul.list-select > li.active::after {
  content: "\e000";
  color: #4fc752;
  font-size: 1.45em;
  float: right;
}
ul.list-select > li:hover {
  background: #eeeeee;
}
table {
  width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: .5em .75em;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
}
table tr:first-child > * {
  border-top: 1px solid #dddddd;
}
table th {
  border-top: 0;
  text-align: left;
}
table thead {
  background: #e7e7e7;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
table tfoot {
  background: #d5d5d5;
}
table table {
  background-color: #fff;
}
table.table-outline {
  border: 1px solid #dddddd;
}
table.table-outline th:last-child,
table.table-outline td:last-child {
  border-right: 1px solid #dddddd;
}
table.condensed th,
table.condensed td {
  padding: .25em .5em;
}
table tr.disabled {
  color: #bbbbbb;
}
table.table-border_none {
  zoom: 1;
}
table.table-border_none th,
table.table-border_none td {
  border: none;
}
table.table-bordered {
  zoom: 1;
}
table.table-bordered th,
table.table-bordered td {
  border: 1px solid #dddddd;
}
table.table-striped {
  zoom: 1;
}
table.table-striped > tr:nth-child(odd),
table.table-striped tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
table.table-hover {
  zoom: 1;
}
table.table-hover thead tr:hover,
table.table-hover tfoot tr:hover {
  background: inherit !important;
}
table.table-hover tr:hover {
  background-color: #e9e9e9 !important;
}
table.table-hover tr.primary:hover {
  background-color: #e0ecb7 !important;
}
table.table-hover tr.success:hover {
  background-color: #bdeabe !important;
}
table.table-hover tr.error:hover {
  background-color: #fabdbc !important;
}
table.table-hover tr.warning:hover {
  background-color: #ffe5ba !important;
}
table.table-hover tr.info:hover {
  background-color: #aee1f8 !important;
}
table.responsive {
  zoom: 1;
}
table.responsive .table-head {
  display: none;
}
@media only screen and (max-width: 800px) {
  table.responsive {
    border: none;
  }
  table.responsive thead,
  table.responsive th {
    display: none;
  }
  table.responsive tr {
    display: block;
    border: 1px solid #dddddd;
  }
  table.responsive tr + tr {
    margin-top: 1.5em;
  }
  table.responsive td {
    display: block;
    border-width: 0 !important;
  }
  table.responsive td + td {
    border-top-width: 1px !important;
  }
  table.responsive .table-head {
    font-size: 12px;
    display: block;
    border-bottom: 1px dashed;
    margin-bottom: 0.5em;
    opacity: 0.75;
  }
}
tr.primary,
th.primary,
td.primary {
  color: #5b6d20;
  background-color: #e9f1cb !important;
}
tr.success,
th.success,
td.success {
  color: #2a6a2c;
  background-color: #d0f0d1 !important;
}
tr.error,
th.error,
td.error {
  color: #813331;
  background-color: #fcd5d4 !important;
}
tr.warning,
th.warning,
td.warning {
  color: #886730;
  background-color: #ffefd3 !important;
}
tr.info,
th.info,
td.info {
  color: #155e7f;
  background-color: #c6eafa !important;
}
img[style*="float: left"],
img[style*="float:left"] {
  margin-right: 15px;
}
img[style*="float: right"],
img[style*="float:right"] {
  margin-left: 15px;
}
.img-thumbnail img,
img.img-thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #bbbbbb;
}
.img-thumbnail img:hover,
img.img-thumbnail:hover {
  border-color: #abcb3c;
}
.img-circle img,
img.img-circle {
  border-radius: 50em;
}
.img-rounded img,
img.img-rounded {
  border-radius: 0.5em;
}
.img-leaflet-right img,
img.img-leaflet-right {
  border-radius: 50% 0;
}
.img-leaflet-left img,
img.img-leaflet-left {
  border-radius: 0 50%;
}
.btn,
button,
[type="submit"],
[type="button"],
[type="reset"] {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Lato', "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #dc1788;
  background-color: #ed4cba;
  border-radius: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.btn:hover,
button:hover,
[type="submit"]:hover,
[type="button"]:hover,
[type="reset"]:hover,
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  color: #FFF;
  border-color: #ae126b;
  background-color: #e81ea8;
}
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.btn[disabled],
button[disabled],
[type="submit"][disabled],
[type="button"][disabled],
[type="reset"][disabled],
.btn.disabled,
button.disabled,
[type="submit"].disabled,
[type="button"].disabled,
[type="reset"].disabled {
  border-color: #bbbbbb !important;
  color: #bbbbbb !important;
  background-color: #eeeeee !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}
.btn[class*="grid_"],
[class*="column_"] > .btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn.rounded {
  border-radius: 0.25em;
}
.btn.circle {
  border-radius: 10em;
}
.btn.social::before {
  font-size: 1.5em;
}
.btn.inverse:hover,
.btn.inverse:active {
  color: #FFF;
  background-color: #e81ea8;
}
.btn.warning {
  color: #FFF;
  border-color: #ff921f;
  background-color: #ffc159;
}
.btn.warning:hover,
.btn.warning:active,
.btn.warning.active {
  color: #FFF;
  border-color: #eb7900;
  background-color: #ffae26;
}
.btn.error {
  color: #FFF;
  border-color: #e62321;
  background-color: #f25f5c;
}
.btn.error:hover,
.btn.error:active,
.btn.error.active {
  color: #FFF;
  border-color: #be1816;
  background-color: #ee312d;
}
.btn.success {
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.btn.success:hover,
.btn.success:active,
.btn.success.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.btn.info {
  color: #FFF;
  border-color: #0679dc;
  background-color: #28b0ed;
}
.btn.info:hover,
.btn.info:active,
.btn.info.active {
  color: #FFF;
  border-color: #055eab;
  background-color: #1195d1;
}
.btn.inverse {
  color: #888888;
  background-color: #d5d5d5;
  border-color: #b2b2b2;
}
.btn.transparent {
  color: inherit;
  background-color: transparent;
  border: none;
}
.btn.transparent:hover,
.btn.transparent:active,
.btn.transparent.active {
  background: rgba(0, 0, 0, 0.1);
}
.btn.block {
  float: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.btn.block + .block {
  margin-top: 0.5em;
}
.btn::before {
  font-size: 1.25em;
  margin-right: 5px;
}
.btn.icon {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  font-size: 0.7em;
  line-height: 2.3em;
}
.btn.icon::before {
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
@media only screen and (max-width: 800px) {
  .btn.t-icon {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.3em;
    font-size: 0.7em;
    line-height: 2.3em;
  }
  .btn.t-icon::before {
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
  }
}
@media only screen and (max-width: 480px) {
  .btn.m-icon {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.3em;
    font-size: 0.7em;
    line-height: 2.3em;
  }
  .btn.m-icon::before {
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
  }
}
.btn.link {
  text-decoration: underline;
  background-color: transparent !important;
  color: #ed4cba;
  box-shadow: none;
}
.btn.link:hover {
  color: #910f68;
}
.btn.link:hover {
  text-decoration: none;
}
.btn.link.disabled,
.btn.link[disabled] {
  color: #6f6f6f !important;
}
.btn.link.warning {
  color: #ffc159;
}
.btn.link.warning:hover {
  color: #bf7800;
}
.btn.link.error {
  color: #f25f5c;
}
.btn.link.error:hover {
  color: #a8100d;
}
.btn.link.success {
  color: #4fc752;
}
.btn.link.success:hover {
  color: #1e5f20;
}
.btn.link.info {
  color: #28b0ed;
}
.btn.link.info:hover {
  color: #0a5272;
}
.btn.link.inverse {
  color: #494949;
}
.btn.outline {
  line-height: calc(2.3em - 2px);
  border: 1px solid;
  box-shadow: none;
  color: #abcb3c;
  border-color: #abcb3c;
  background-color: transparent;
}
.btn.outline:hover,
.btn.outline:active,
.btn.outline.active {
  color: #FFF;
  border-color: #ed4cba;
  background-color: #ed4cba;
}
.btn.outline.inverse:hover,
.btn.outline.inverse:active {
  color: #FFF;
  border-color: #ed4cba;
}
.btn.outline.warning {
  color: #ffc159;
  border-color: #ffc159;
  background-color: transparent;
}
.btn.outline.warning:hover,
.btn.outline.warning:active,
.btn.outline.warning.active {
  color: #FFF;
  border-color: #ffc159;
  background-color: #ffc159;
}
.btn.outline.error {
  color: #f25f5c;
  border-color: #f25f5c;
  background-color: transparent;
}
.btn.outline.error:hover,
.btn.outline.error:active,
.btn.outline.error.active {
  color: #FFF;
  border-color: #f25f5c;
  background-color: #f25f5c;
}
.btn.outline.success {
  color: #4fc752;
  border-color: #4fc752;
  background-color: transparent;
}
.btn.outline.success:hover,
.btn.outline.success:active,
.btn.outline.success.active {
  color: #FFF;
  border-color: #4fc752;
  background-color: #4fc752;
}
.btn.outline.info {
  color: #28b0ed;
  border-color: #28b0ed;
  background-color: transparent;
}
.btn.outline.info:hover,
.btn.outline.info:active,
.btn.outline.info.active {
  color: #FFF;
  border-color: #28b0ed;
  background-color: #28b0ed;
}
.btn.outline.white {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}
.btn.outline.white:hover,
.btn.outline.white:active,
.btn.outline.white.active {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
.btn.outline.inverse {
  color: #d5d5d5;
  border-color: #d5d5d5;
}
.btn.caption {
  padding-top: .5em;
  padding-bottom: .5em;
  line-height: 1.15em;
}
.btn.caption::before {
  font-size: 32px;
  display: block;
  margin: 0 0 .1em;
}
.btn-group {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.btn-group .btn {
  float: left;
  border-radius: 2em;
}
.btn-group .btn:first-child {
  border-radius: 2em 0 0 2em;
}
.btn-group .btn:last-child {
  border-radius: 0 2em 2em 0;
}
.btn-group .btn ~ .btn {
  margin-left: 1px;
}
.btn-group input:checked + .btn {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  opacity: 0.5;
}
hr {
  clear: both;
  border: none;
  border-top: 1px solid #bbbbbb;
  line-height: 0;
  margin: 1em 0;
  background: #FFF;
  color: #bbbbbb;
}
hr.large {
  border-top-width: 2px;
}
hr.larger {
  border-top-width: 3px;
}
hr::before {
  content: attr(title);
  top: -0.6em;
  position: relative;
  line-height: 1.2em;
  color: inherit;
  max-width: 94%;
  margin: -0.5px 3% 0;
  padding: 0 .75em;
  background: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
hr[class*="icon-"]::before,
hr[class^=" icon-"]::before {
  top: -0.5em;
}
hr.left {
  text-align: left;
}
hr.right {
  text-align: right;
}
hr.center {
  text-align: center;
}
hr.circle {
  zoom: 1;
}
hr.circle::before {
  padding: .35em .75em;
  background: #bbbbbb;
  color: #fff;
  top: -0.9em;
  border-radius: 2em;
}
hr.dashed {
  border-top-style: dashed;
}
hr.dotted {
  border-top-style: dotted;
}
.badge {
  background: #abcb3c;
  color: #FFF;
  min-width: 1em;
  padding: 4px;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1em;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  box-sizing: content-box;
}
.badge.block {
  display: block;
}
.badge:empty {
  display: none;
}
.badge.success,
.badge.info,
.badge.error,
.badge.warning {
  color: #fff;
}
.badge.success {
  background: #4fc752;
}
.badge.warning {
  background: #ffc159;
}
.badge.error {
  background: #f25f5c;
}
.badge.info {
  background: #28b0ed;
}
.badge.inverse {
  background: #FFF;
  color: #abcb3c;
}
.badge.black {
  background: #000;
  color: #fff;
}
.badge.outline {
  background: transparent;
  color: inherit;
  border: 1px solid #888888;
}
.badge.circle {
  border-radius: 1em;
}
.badge.rounded {
  border-radius: 0.5em;
}
.badge.leaflet-right {
  border-radius: 0.75em 0;
}
.badge.leaflet-left {
  border-radius: 0 0.75em;
}
.message {
  position: relative;
  padding: .5em .75em;
  background-color: #e9f1cb;
  color: #5b6d20;
  border-left: 3px solid #c7dc7d;
}
.message:empty {
  display: none;
}
.message.notification {
  box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.25);
}
.message .btn-close {
  font-size: 0.85em;
  position: absolute;
  top: 8px;
  right: 8px;
}
.message .btn-close::before {
  content: "\e0a2";
}
.message.right {
  text-align: right;
  border-left: none;
  border-right: 3px solid #c7dc7d;
}
.message a {
  opacity: 0.75;
}
.message a:hover {
  opacity: 1;
}
.message hr {
  border-color: inherit;
}
.message.success {
  color: #2a6a2c;
  border-color: #8ada8c;
  background-color: #d0f0d1;
}
.message.warning {
  color: #886730;
  border-color: #ffd691;
  background-color: #ffefd3;
}
.message.error {
  color: #813331;
  border-color: #f69593;
  background-color: #fcd5d4;
}
.message.info {
  color: #155e7f;
  border-color: #70caf3;
  background-color: #c6eafa;
}
.message.gray {
  color: #222222;
  border-color: #bbbbbb;
  background-color: #eeeeee;
}
.message[class*=icon-] {
  padding-left: 3em;
}
.message[class*=icon-]::before {
  position: absolute;
  top: .225em;
  left: .4em;
  font-size: 1.75em;
}
.callout {
  margin-bottom: 20px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-left: 4px solid #abcb3c;
  color: inherit;
  border-radius: 3px;
}
.callout .callout-header {
  color: #abcb3c;
  margin-bottom: 5px;
}
.callout.success {
  border-left-color: #4fc752;
}
.callout.success .callout-header {
  color: #4fc752;
}
.callout.warning {
  border-left-color: #ffc159;
}
.callout.warning .callout-header {
  color: #ffc159;
}
.callout.error {
  border-left-color: #f25f5c;
}
.callout.error .callout-header {
  color: #f25f5c;
}
.callout.info {
  border-left-color: #28b0ed;
}
.callout.info .callout-header {
  color: #28b0ed;
}
.callout.gray {
  border-left-color: #888888;
}
.callout.gray .callout-header {
  color: #888888;
}
.panel {
  color: inherit;
  border: 1px solid #bbbbbb;
  margin-bottom: 2em;
  padding: 0;
}
.panel .panel-header,
.panel .panel-content,
.panel .panel-footer {
  margin: 0;
  padding: 8px 12px;
}
.panel .panel-header::after,
.panel .panel-content::after,
.panel .panel-footer::after {
  content: "";
  display: table;
  clear: both;
}
.panel .panel-header {
  display: block;
  background: #eeeeee;
  color: #222222;
  border-bottom: inherit;
  font-size: 1.25em;
  font-family: 'Lato', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
.panel .panel-content {
  background: #fff;
  overflow: auto;
}
.panel .panel-footer {
  background: #fcfcfc;
  border-top: inherit;
  border-top-color: #efefef;
}
.panel.primary {
  border-color: #c7dc7d;
}
.panel.primary .panel-header {
  background: #e9f1cb;
  color: #5b6d20;
}
.panel.success {
  border-color: #8ada8c;
}
.panel.success .panel-header {
  background: #d0f0d1;
  color: #2a6a2c;
}
.panel.warning {
  border-color: #ffd691;
}
.panel.warning .panel-header {
  background: #ffefd3;
  color: #886730;
}
.panel.error {
  border-color: #f69593;
}
.panel.error .panel-header {
  background: #fcd5d4;
  color: #813331;
}
.panel.info {
  border-color: #70caf3;
}
.panel.info .panel-header {
  background: #c6eafa;
  color: #155e7f;
}
.panel.collapse .panel-header {
  position: relative;
  padding-right: 28px;
}
.panel.collapse .collapse-btn {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0;
}
.panel.collapse .collapse-btn::before {
  font-size: 16px;
}
[class*="tooltip-native"],
.tooltip {
  position: relative;
  cursor: help;
}
a[class*="tooltip-native"],
a.tooltip {
  cursor: pointer;
}
[class*="tooltip-native"]:hover[class*="--arrow"]::before,
[class*="tooltip-native"][class*="--show"][class*="--arrow"]::before,
[class*="tooltip-native"]:hover::after,
[class*="tooltip-native"][class*="--show"]::after {
  display: block;
}
[class*="tooltip-native"][class*="--arrow"]::before,
[class*="tooltip-native"]::after {
  content: '';
  position: absolute;
  margin: auto;
  display: none;
  bottom: 100%;
  opacity: 1 !important;
}
[class*="tooltip-native"]::after {
  content: attr(title);
  z-index: 9;
  font-size: 15.3px;
  line-height: 1.5;
  padding: 4px 8px;
  max-width: 300px;
  background: #000;
  color: #fff;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[class*="tooltip-native"][class*="--autoWidth"]::after {
  max-width: none;
}
[class*="tooltip-native"][class*="--fulltext"]::after {
  white-space: normal;
  width: 300px;
}
[class*="tooltip-native"][class*="--arrow"][class*="--top"]::before,
[class*="tooltip-native"][class*="--arrow"][class*="--bottom"]::before,
[class*="tooltip-native"][class*="--arrow"][class*="--left"]::before,
[class*="tooltip-native"][class*="--arrow"][class*="--right"]::before {
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  z-index: 10;
  border-color: #000;
}
[class*="tooltip-native"][class*="--top"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--bottom"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--top"]::after,
[class*="tooltip-native"][class*="--bottom"]::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
[class*="tooltip-native"][class*="--top"][class*="-right"]::after,
[class*="tooltip-native"][class*="--bottom"][class*="-right"]::after {
  left: auto;
  right: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
[class*="tooltip-native"][class*="--top"][class*="-left"]::after,
[class*="tooltip-native"][class*="--bottom"][class*="-left"]::after {
  left: 0;
  right: auto;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
[class*="tooltip-native"][class*="--top"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--bottom"][class*="--arrow"]::before {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
[class*="tooltip-native"][class*="--top"][class*="--arrow"]::before {
  border-bottom-width: 0;
}
[class*="tooltip-native"][class*="--top"]::after {
  margin-bottom: 7px;
}
[class*="tooltip-native"][class*="--bottom"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--bottom"]::after {
  top: 100%;
  bottom: auto;
}
[class*="tooltip-native"][class*="--bottom"][class*="--arrow"]::before {
  border-top-width: 0;
}
[class*="tooltip-native"][class*="--bottom"]::after {
  margin-top: 7px;
}
[class*="tooltip-native"][class*="--left"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--right"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--left"]::after,
[class*="tooltip-native"][class*="--right"]::after {
  left: auto;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[class*="tooltip-native"][class*="--left"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--right"][class*="--arrow"]::before {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
[class*="tooltip-native"][class*="--left"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--left"]::after {
  right: 100%;
}
[class*="tooltip-native"][class*="--left"][class*="--arrow"]::before {
  border-right-width: 0;
}
[class*="tooltip-native"][class*="--left"]::after {
  margin-right: 7px;
}
[class*="tooltip-native"][class*="--right"][class*="--arrow"]::before,
[class*="tooltip-native"][class*="--right"]::after {
  left: 100%;
}
[class*="tooltip-native"][class*="--right"][class*="--arrow"]::before {
  border-left-width: 0;
}
[class*="tooltip-native"][class*="--right"]::after {
  margin-left: 7px;
}
[class*="tooltip-native"][class*="--success"]::after {
  background: #d0f0d1;
  color: #2a6a2c;
}
[class*="tooltip-native"][class*="--success"][class*="--arrow"]::before {
  border-color: #d0f0d1;
}
[class*="tooltip-native"][class*="--warning"]::after {
  background: #ffefd3;
  color: #886730;
}
[class*="tooltip-native"][class*="--warning"][class*="--arrow"]::before {
  border-color: #ffefd3;
}
[class*="tooltip-native"][class*="--error"]::after {
  background: #fcd5d4;
  color: #813331;
}
[class*="tooltip-native"][class*="--error"][class*="--arrow"]::before {
  border-color: #fcd5d4;
}
[class*="tooltip-native"][class*="--info"]::after {
  background: #c6eafa;
  color: #155e7f;
}
[class*="tooltip-native"][class*="--info"][class*="--arrow"]::before {
  border-color: #c6eafa;
}
