<footer class="grid_12 mt30px" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="footer-box grid_4 t-grid_3">
         <h3>{$header:footer2:static}</h3>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
    </div>
    <div class="footer-box grid_4 t-grid_3">
       {$template:_social links}
       {$content:footer-info:static}
    </div>
    <div class="footer-box grid_4 t-grid_3 top-phone">
      <span>{$plugin:widcard:BizTelephone:notag}</span>
    </div>
</footer>