<!DOCTYPE html>
<html>
    <head>
        <!-- Include head template -->
        {$template:_head}
    </head>
    <body>

        <!-- Container -->
        <div class="full-width white-bg top-bar mt30px">
            <div class="container">
                <div class="grid_6 top-phone"><span>{$plugin:widcard:BizTelephone:notag}</span></div>
                <div class="grid_6 top-icons">{$template:_social links}</div>
            </div>
        </div>
        <header class="container" role="banner">
                <h1 class="logo grid_12" itemscope itemtype="http://schema.org/Organization">
                    <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
                        <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" width="75" height="85" itemprop="logo">
                        <p itemprop="name">{$plugin:widcard:BizOrgName:notag}</p>
                        <span>{$header:top:static}</span>
                    </a>
                </h1>
        </header>
        <div class="full-width pink-bg">
            <div class="container">
                 <nav id="main-menu" class="grid_12 d-visible" role="navigation">{$menu:main:_main menu}</nav>
            </div>
        </div>
       {device:tablet,desktop}
        <div class="slide-main">
            <div class="slider cycle-slideshow"
                    data-cycle-slides=".slide"
                    data-cycle-fx="fade"
                    data-cycle-max-z="10"
                    data-cycle-timeout="7000"
                    data-cycle-prev=".slide-top-prev"
                    data-cycle-next=".slide-top-next">
                    {repeat:home-slider:key:1}
                         <div class="slide">
                                 {$imageonly:slide_key:{$mobile:device:tablet=original:desktop=1920}}
                                 <div class="container">
                                     <div class="slide-overlay grid_8 suffix_4 t-grid_4 t-suffix_2">
                                        <span class="title">{$header:slide-overlay_key}</span>
                                            {$content:content-overlay_key}
                                        <a class="btn mt30px" href="#">See All News</a>
                                     </div>
                                 </div>
                         </div>
                    {/repeat}

                        <span class="prev slide-top-prev"></span>
                        <span class="next slide-top-next"></span>

            </div>
        </div>
        {/device}
        <div class="full-width gray-bg">
            <div id="page" class="container ">
                <h2 class="grid_6 alpha">{$header:1}</h2>
                <div class="grid_6 omega search">{$search:form}</div>
                <div class="grid_12 alpha omega">
                    {$content:prod-list}
                </div>
            </div>
        </div>
          {device:tablet,desktop}
        <div class="slider-bottom">
                 <div class="slider-vert cycle-slideshow"
                         data-cycle-slides=".slide-vert"
                         data-cycle-fx="scrollVert"
                         data-cycle-max-z="10"
                         data-cycle-timeout="7000"
                         data-cycle-prev=".slide-bottom-prev"
                         data-cycle-next=".slide-bottom-next"
                         data-cycle-pager="#custom-pager"
                         data-cycle-pager-template="<strong><a href=#> {{slideNum}} </a></strong>"
                         >
                          {repeat:home-slider-botom:key:1}
                             <div class="slide-vert">
                                 {$imageonly:slide-bottom_key:{$mobile:device:tablet=original:desktop=1920}}
                                 <div class="container">
                                     <div class="text grid_10 suffix_1 prefix_1">
                                        <h2>{$header:text_key}</h2>
                                            {$content:text_key}
                                     </div>
                                 </div>
                             </div>
                          {/repeat}
                                   <div id="custom-pager" class="center"></div>

                                     <span class="slide-bottom-prev prev"></span>
                                     <span class="slide-bottom-next next"></span>

                  </div>
        </div>
        {/device}
        <div class="container">
            <div class="grid_12 testimonials alpha omega">
                <h2>{$header:2}</h2>
                    {repeat:testimonials:key:3}
                      <div class="box-t grid_4">
                          <h3>{$header:testimonials_key}</h3>
                          {$content:testimonials_key}
                      </div>
                    {/repeat}
            </div>
        </div>
        <div class="full-width white-bg">
            <div class="container f_a">
                <div class="grid_4">{$content:f_a1}</div>
                <div class="grid_4">{$content:f_a2}</div>
                <div class="grid_4">{$content:f_a3}</div>
            </div>
        </div>
            <!-- Footer -->
            <!-- Include Footer template -->
            {$template:_footer}

        <!-- Include mobile elements template -->
        {$template:_mobile elements}

        <!-- Include scripts template -->
        {$template:_scripts}
        <script type="text/javascript" src="js/plugin/jquery.cycle2.min.js"></script>
        <script>
             $(window).load(function(){
                 $('.slider .slide').each(function(){
                     var src = $(this).find('img[width="1920"]').attr('src');
                     $(this).css('background-image', 'url(' + src + ')');
                 });
                 $('.slider-vert .slide-vert').each(function(){
                     var src = $(this).find('img[width="1920"]').attr('src');
                     $(this).css('background-image', 'url(' + src + ')');
                 });
             });
        </script>
    </body>
</html>