//	PAGE Style
//==================================================
body{
    // custom scroll-bar
    .scroll-bar();
    background: @brand-primary;
}

main{ }

#page{
padding-top: 30px}

//	HEADER Style
//==================================================

header {
    background : @header-bg;
    color      : @header-color;

    // -- LOGO Style
    .logo {
        text-decoration : none;
       a{
           text-decoration: none;
           text-align: center;
           color: #fff;
           img{
               display : none;
           }
           p{
               margin      : 0;
               font-family : 'Arizonia', cursive;
               font-weight: normal;
               font-size   : 6rem;
               line-height : 6rem;

           }
           span{
               display: block;
               margin-bottom: 0.6em;
               font-size   : 2rem;
               font-weight : 300;
           }
       }
    }
}
.top-bar {
    padding: 0.7em 0;
}

.top-phone {
    font-size: 1.4em;
    span {
        &::before {
            content: "\e045";
            font-family: 'flexkit-icons';
            margin-right: 9px;
            padding: 0.3em 0.3em;
            font-size: 0.7em;
            background: #279022;
            color: #fff;
            .border-radius(50em);
        }
    }
}
.top-icons {
    text-align: right;
}

// -- NAV Style
.pink-bg {
    background: @brand-primary-second;
    padding: 0.5em;
}
.gray-bg {
    background: #eaeaea;
}

.text {
    text-align: center;
    margin-top: 6em;
    color: #fff;
    h2 {
        margin-bottom: 1.5em;
        color: #fff;
    }
}
.testimonials{
    margin-top : 3em;
    margin-bottom: 2em;
    color      : #fff;
    h2{
        margin-bottom : 1em;
        text-align    : center;
        color         : #fbffbd;

    }
    .box-t{
        h3{
            color : #fff;
        }
    }
}

//	CONTENT Style
//==================================================
section {
    background : @content-bg;
    color      : @content-color;

    article {
        margin-bottom : 30px;
    }
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom : 30px;
    }
}

//	FOOTER Style
//==================================================
footer {
    padding    : @padding-larger-vertical * 2 0;
    background : @footer-bg;
    color      : @footer-color;
    font-size  : @font-size-small;
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}